In [1]:
import pandas as pd
pd.read_csv("data.csv",sep="|")

    usia  tinggi  ukuranSepatu  angkaFavorit
0     22     167            36             7
1     21     175            36             6
2     17     177            35            90
3     20     167            38            83
4     17     180            34            34
5     19     173            32            66
6     21     172            37            71
7     17     174            34            93
8     17     185            30            75
9     17     177            39            26
10    19     173            30            46
11    18     182            35             8
12    23     179            39            85
13    24     169            35             2
14    21     166            39            50
15    17     176            31            55
16    22     178            39            51
17    18     178            37            64
18    22     170            40            82
19    24     171            34            30
20    24     175            40             5
21    18     175            35            33
22    23     169            35            80
23    23     181            35            10
24    23     170            39            90
25    17     173            37            72
26    20     170            33            38
27    24     179            39            78
28    24     177            32            84
29    21     178            31            86
..   ...     ...           ...           ...
70    18     183            37            12
71    21     170            32             2
72    19     178            37            41
73    19     169            38            85
74    19     165            38            40
75    19     185            38            74
76    19     171            37            50
77    17     171            36            53
78    19     173            35           100
79    18     174            40            14
80    18     181            31            37
81    19     180            32            25
82    21     176            30            87
83    23     168            30            15
84    17     169            38            97
85    17     167            38            91
86    18     180            33            31
87    20     166            37            50
88    23     173            33            55
89    24     185            33            43
90    17     167            38             9
91    24     182            32            42
92    24     179            30            25
93    22     165            38            12
94    22     173            36            70
95    21     174            32            86
96    22     171            40            86
97    22     174            32            79
98    18     184            37            11
99    23     176            35             9

[100 rows x 4 columns]

In [2]:
from scipy import stats
d1=pd.read_csv("data.csv",sep="|",usecols=['usia','tinggi','ukuranSepatu','angkaFavorit'])
d1.describe()

             usia      tinggi  ukuranSepatu  angkaFavorit
count  100.000000  100.000000    100.000000    100.000000
mean    20.330000  174.270000     35.380000     51.150000
std      2.361539    5.622565      3.148769     29.539009
min     17.000000  165.000000     30.000000      2.000000
25%     18.000000  170.000000     32.750000     26.750000
50%     20.000000  174.000000     36.000000     50.000000
75%     23.000000  178.000000     38.000000     80.000000
max     24.000000  185.000000     40.000000    100.000000